/* כל הדפים */

body {
    font-family: Arial, sans-serif;
    background-color: #627a7a;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
}

#h1 {
    width: fit-content;
    margin: 60px auto;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.6);
    padding: 15px;
    border: solid rgb(0, 0, 0) 1px;
    border-radius: 5px;
    background-color: aliceblue;
}

/* .......................................................... */
/* select page */



#span-select {
    width: fit-content;
    display: flex;
    margin: auto;
    gap: 1rem;
}


#span-select span {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}


/* .......................................................... */
/* manager page */


#place-add-point {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: fit-content;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

}

h2 {
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

#addPoint-btn{
    width: 130px;
    height: 30px; 
    background-color:#000000;
    color: #fff;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

#point-name {
    width: 300px;
    height: 30px;
    border-radius: 5px;
border-color: #000000;
}

#list-points {
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin: auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;

}

#tiod-place {
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin: auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

#tiod-bikur-tavla {
    width: 70%;
    margin: auto;
}

/* .......................................................... */
/* guard page */

#tiod-bikur {
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin: auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    
}

#visitPointSelect{
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

#button{
    width: 100px;
    height: 30px;
    background-color: #000000;
    color: #fff;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}